language: rust
rust:
  - stable
  - beta
  - nightly
os:
  - linux
  - osx
cache:
  cargo: true
matrix:
  allow_failures:
    - nightly
before_script:
  - git clone git://github.com/jedisct1/libsodium.git
  - cd libsodium
  - ./autogen.sh
  - ./configure && make
  - sudo make install
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo ldconfig; fi
  - cd ..
  - export PATH="$PATH:$HOME/.cargo/bin"
  - which rustfmt || cargo install rustfmt
script:
  - cargo fmt -- --write-mode=diff
  - cargo build --all-features
  - cargo test --all-features
