[package]
authors = ["alex <acdenissk69@gmail.com>", "Zeyla Hellyer <hi@zeyla.me>"]
description = "A Rust library for the Discord API."
documentation = "https://docs.rs/serenity"
homepage = "https://github.com/serenity-rs/serenity"
keywords = ["discord", "api"]
license = "ISC"
name = "serenity"
readme = "README.md"
repository = "https://github.com/serenity-rs/serenity.git"
version = "0.5.11"
edition = "2018"

[dependencies]
bitflags = "^1.0"
log = "~0.4"
parking_lot = "^0.6"
serde = "^1.0"
serde_derive = "^1.0"
serde_json = "^1.0"

[dependencies.base64]
optional = true
version = "0.10"

[dependencies.byteorder]
optional = true
version = "^1.2"

[dependencies.chrono]
features = ["serde"]
version = "~0.4"

[dependencies.flate2]
optional = true
version = "^1.0"

[dependencies.reqwest]
default-features = false
optional = true
version = "0.9"

[dependencies.lazy_static]
optional = true
version = "^1.0"

[dependencies.opus]
optional = true
version = "0.2"

[dependencies.rand]
optional = true
version = "^0.4"

[dependencies.rustls]
optional = true
version = "0.14.0"

[dependencies.sodiumoxide]
default-features = false
features = ["std"]
optional = true
version = "0.2"

[dependencies.threadpool]
optional = true
version = "~1.7"

[dependencies.tungstenite]
default-features = false
optional = true
version = "0.6"

[dependencies.typemap]
optional = true
version = "~0.3"

[dependencies.url]
optional = true
version = "^1.0"

[dependencies.uwl]
optional = true
version = "^0.2"

[dependencies.webpki]
optional = true
version = "0.18.1"

[dependencies.webpki-roots]
optional = true
version = "0.15.0"

[dev-dependencies.matches]
version = "0.1.6"

[features]
default = [
    "builder",
    "cache",
    "client",
    "framework",
    "gateway",
    "model",
    "http",
    "standard_framework",
    "utils",
]
builder = ["utils"]
cache = []
client = [
    "gateway",
    "http",
    "lazy_static",
    "threadpool",
    "typemap",
]
extras = []
framework = ["client", "model", "utils"]
gateway = [
    "flate2",
    "http",
    "url",
    "utils",
    "rustls",
    "webpki",
    "webpki-roots",
    "tungstenite",
]
http = ["lazy_static", "reqwest/rustls-tls"]
model = ["builder", "http"]
native_tls = ["reqwest/default-tls", "tungstenite/tls"]
standard_framework = ["framework", "uwl"]
utils = ["base64"]
voice = ["byteorder", "gateway", "opus", "rand", "sodiumoxide"]

[package.metadata.docs.rs]
all-features = true
