[package]
authors = ["Alex M. M. <acdenissk69@gmail.com>"]
description = "A Rust library for the Discord API."
documentation = "https://docs.rs/serenity"
homepage = "https://github.com/serenity-rs/serenity"
keywords = ["discord", "api"]
license = "ISC"
name = "serenity"
readme = "README.md"
repository = "https://github.com/serenity-rs/serenity.git"
version = "0.11.1"
edition = "2018"
include = ["src/**/*", "LICENSE.md", "README.md", "CHANGELOG.md", "build.rs"]

[workspace]
members = ["examples/*"]

[dependencies]
bitflags = "1.3"
serde_json = "1.0.75"
serde-value = "0.7"
async-trait = "0.1.9"

[dependencies.simd-json]
version = "0.4.14"
optional = true

[dependencies.tracing]
version = "0.1.23"
features = ["log"]

[dependencies.command_attr]
path = "./command_attr"
version = "0.4.0"
optional = true

[dependencies.serde]
version = "1.0.130"
features = ["derive"]

[dependencies.url]
version = "^2.1"
features = ["serde"]

[dependencies.uwl]
optional = true
version = "0.6.0"

[dependencies.base64]
optional = true
version = "0.13"

[dependencies.levenshtein]
optional = true
version = "1.0.5"

[dependencies.dep_time]
package = "time"
version = "0.3.6"
features = ["formatting", "parsing", "serde-well-known"]

[dependencies.chrono]
default-features = false
features = ["clock", "serde"]
optional = true
version = "0.4.10"

[dependencies.flate2]
optional = true
version = "1.0.13"

[dependencies.reqwest]
default-features = false
features = ["json", "multipart", "stream"]
optional = true
version = "0.11.7"

[dependencies.serenity-voice-model]
path = "./voice-model"
version = "0.1.1"
optional = true

[dependencies.static_assertions]
optional = true
version = "1.1"

[dependencies.async-tungstenite]
default-features = false
features = ["tokio-runtime"]
optional = true
version = "0.17"

[dependencies.typemap_rev]
optional = true
version = "0.1.3"

[dependencies.bytes]
optional = true
version = "1.0"

[dependencies.tokio]
version = "1"
default-features = true
optional = true
features = ["fs", "macros", "rt", "sync", "time"]

[dependencies.futures]
version = "0.3"
default-features = false
features = ["std"]

[dependencies.percent-encoding]
version = "2.1"

[dependencies.moka]
version = "0.8"
features = ["dash"]
optional = true

[dependencies.mime]
version = "0.3.16"

[dependencies.mime_guess]
version = "2.0"

[dependencies.dashmap]
version = "5.1.0"
features = ["serde"]
optional = true

[dependencies.parking_lot]
version = "0.12"
optional = true

[dependencies.cfg-if]
version = "1.0.0"

[dev-dependencies.http_crate]
version = "0.2"
package = "http"

[dev-dependencies.serde_test]
version = "1"

[dev-dependencies.tokio-test]
version = "0.4"

[features]
# Defaults with different backends
default = ["default_no_backend", "rustls_backend"]
default_native_tls = ["default_no_backend", "native_tls_backend"]

# Serenity requires a backend, this picks all default features without a backend.
default_no_backend = [
    "builder",
    "cache",
    "chrono",
    "client",
    "framework",
    "gateway",
    "model",
    "http",
    "standard_framework",
    "utils",
]

builder = ["utils"]
cache = ["dashmap", "parking_lot"]
collector = ["gateway", "model"]
client = ["http", "typemap_rev"]
extras = []
framework = ["client", "model", "utils"]
gateway = ["flate2", "http", "utils"]
http = []
absolute_ratelimits = ["http"]
model = ["builder", "http"]
voice-model = ["serenity-voice-model"]
standard_framework = ["framework", "uwl", "levenshtein", "command_attr", "static_assertions"]
unstable_discord_api = []
utils = ["base64"]
voice = ["client", "model"]
tokio_task_builder = ["tokio/tracing"]
time = []

# Enables simd accelerated parsing
simdjson = ["simd-json"]

# Enables temporary caching in functions that retrieve data via the HTTP API.
temp_cache = ["cache", "moka"]

# Backends to pick from:
# - Rustls Backends
rustls_backend = [
    "reqwest/rustls-tls",
    "async-tungstenite/tokio-rustls-webpki-roots",
    "tokio",
    "bytes",
]

# - Native TLS Backends
native_tls_backend = [
    "reqwest/native-tls",
    "async-tungstenite/tokio-native-tls",
    "tokio",
    "bytes",
]

[package.metadata.docs.rs]
features = ["default", "collector", "unstable_discord_api", "voice", "voice-model"]
rustdoc-args = ["--cfg", "docsrs"]
