[package]
authors = ["alex <acdenissk69@gmail.com", "Zeyla Hellyer <zey@zey.moe>"]
description = "A Rust library for the Discord API."
documentation = "https://docs.rs/serenity"
homepage = "https://github.com/zeyla/serenity"
keywords = ["discord", "api"]
license = "ISC"
name = "serenity"
readme = "README.md"
repository = "https://github.com/zeyla/serenity.git"
version = "0.3.0" # update html_root_url's version as well

[dependencies]
base64 = "~0.6"
bitflags = "~0.9"
flate2 = "~0.2"
log = "~0.3"
serde = "^1.0"
serde_derive = "^1.0"
serde_json = "^1.0"
parking_lot = "0.4"

[dependencies.byteorder]
optional = true
version = "1.0"

[dependencies.chrono]
features = ["serde"]
version = "~0.4"

[dependencies.futures]
optional = true
version = "0.1"

[dependencies.hyper]
optional = true
version = "~0.10"

[dependencies.hyper-native-tls]
optional = true
version = "0.2.2"

[dependencies.regex]
optional = true
version = "0.2"

[dependencies.itertools]
optional = true
version = "0.6.1"

[dependencies.lazy_static]
optional = true
version = "~0.2"

[dependencies.multipart]
default-features = false
features = ["client", "hyper", "safemem"]
optional = true
version = "0.13"

[dependencies.native-tls]
optional = true
version = "0.1"

[dependencies.opus]
optional = true
version = "0.2"

[dependencies.sodiumoxide]
default-features = false
optional = true
version = "0.0.12"

[dependencies.tokio-core]
optional = true
version = "0.1"

[dependencies.typemap]
optional = true
version = "~0.3"

[dependencies.websocket]
default-features = false
features = ["sync-ssl"]
optional = true
version = "~0.20"

[features]
default = [
    "builder",
    "cache",
    "client",
    "framework",
    "gateway",
    "model",
    "http",
    "standard_framework",
    "utils"
]
builder = []
cache = ["lazy_static"]
client = ["gateway", "lazy_static", "http", "typemap"]
extras = []
framework = ["client", "model", "utils", "regex", "itertools"]
gateway = ["http", "websocket", "tokio-core", "futures"]
http = ["hyper", "hyper-native-tls", "lazy_static", "multipart", "native-tls"]
model = ["builder", "http"]
standard_framework = ["framework"]
utils = []
voice = ["byteorder", "gateway", "opus", "sodiumoxide"]
