[package]
authors = ["Alex M. M. <acdenissk69@gmail.com>"]
description = "A Rust library for the Discord API."
documentation = "https://docs.rs/serenity"
homepage = "https://github.com/serenity-rs/serenity"
keywords = ["discord", "api"]
license = "ISC"
name = "serenity"
readme = "README.md"
repository = "https://github.com/serenity-rs/serenity.git"
version = "0.10.1"
edition = "2018"
include = ["src/**/*", "LICENSE.md", "README.md", "CHANGELOG.md", "build.rs"]

[dependencies]
bitflags = "1"
tracing = "0.1"
tracing-futures = "0.2"
serde_json = "1"
async-trait = "0.1"

[dependencies.command_attr]
path = "./command_attr"
version = "0.3.3"
optional = true

[dependencies.serde]
version = "1"
features = ["derive"]

[dependencies.uwl]
optional = true
version = "0.6.0"

[dependencies.base64]
optional = true
version = "0.13"

[dependencies.chrono]
features = ["serde"]
version = "0.4"

[dependencies.flate2]
optional = true
version = "1"

[dependencies.reqwest]
default-features = false
features = ["json", "multipart", "stream"]
optional = true
version = "0.11"

# Tokio v0.2
[dependencies.reqwest_compat]
package = "reqwest"
default-features = false
features = ["json", "stream"]
optional = true
version = "0.10"

[dependencies.serenity-voice-model]
path = "./voice-model"
version = "0.1"
optional = true

[dependencies.static_assertions]
optional = true
version = "1.1"

[dependencies.async-tungstenite]
default-features = false
features = ["tokio-runtime"]
optional = true
version = "0.11"

# Tokio v0.2
[dependencies.async-tungstenite_compat]
package = "async-tungstenite"
default-features = false
features = ["tokio-runtime"]
optional = true
version = "0.9"

[dependencies.typemap_rev]
optional = true
version = "0.1.3"

[dependencies.url]
optional = true
version = "^2.1"

[dependencies.bytes]
optional = true
version = "1.0"

[dependencies.bytes_compat]
package = "bytes"
optional = true
version = "0.5"

[dependencies.tokio]
version = "1.0"
default-features = true
optional = true
features = ["fs", "macros", "rt", "sync", "time"]

# Tokio v0.2
[dependencies.tokio_compat]
package = "tokio"
version = "0.2"
optional = true
default-features = true
features = ["fs", "macros", "rt-core", "sync", "time", "stream"]

[dependencies.futures]
version = "0.3"
default-features = false
features = ["std"]

[dependencies.percent-encoding]
version = "2.1"

[dev-dependencies.http_crate]
version = "0.2"
package = "http"

[features]
default = ["builder", "cache", "client", "framework", "gateway", "model", "http", "standard_framework", "utils", "rustls_backend"]
default_native_tls = ["builder", "cache", "client", "framework", "gateway", "model", "http", "standard_framework", "utils", "native_tls_backend"]
builder = ["utils"]
cache = []
collector = ["gateway", "model"]
client = ["http", "typemap_rev"]
extras = []
framework = ["client", "model", "utils"]
gateway = ["flate2", "http", "url", "utils"]
http = ["url"]
absolute_ratelimits = ["http"]
model = ["builder", "http"]
voice-model = ["serenity-voice-model"]
standard_framework = ["framework", "uwl", "command_attr", "static_assertions"]
unstable_discord_api = []
utils = ["base64"]
voice = ["client", "model"]

# Backends
rustls_backend = ["reqwest/rustls-tls", "async-tungstenite/tokio-rustls", "tokio", "rustls_backend_marker", "bytes"]
rustls_tokio_0_2_backend = ["reqwest_compat/rustls-tls", "async-tungstenite_compat/tokio-rustls", "tokio_compat", "bytes_compat", "rustls_backend_marker"]
rustls_backend_marker = []

native_tls_backend = ["reqwest/native-tls", "async-tungstenite/tokio-native-tls", "tokio", "bytes", "native_tls_backend_marker"]
native_tls_tokio_0_2_backend = ["reqwest_compat/native-tls", "async-tungstenite_compat/tokio-native-tls", "tokio_compat", "bytes_compat", "native_tls_backend_marker"]
native_tls_backend_marker = []

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
