<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="0;URL=../../../../serenity/model/application/struct.TextDisplay.html">
    <title>Redirection</title>
</head>
<body>
    <p>Redirecting to <a href="../../../../serenity/model/application/struct.TextDisplay.html">../../../../serenity/model/application/struct.TextDisplay.html</a>...</p>
    <script>location.replace("../../../../serenity/model/application/struct.TextDisplay.html" + location.search + location.hash);</script>
</body>
</html>