# Copied from Twilight's Lint workflow.
#
# https://github.com/twilight-rs/twilight/blob/trunk/.github/workflows/lint.yml
name: Lint

on: [push, pull_request]

jobs:
  clippy:
    name: Clippy
    runs-on: ubuntu-latest

    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Install toolchain
        run: rustup install stable

      - name: Add problem matchers
        run: echo "::add-matcher::.github/matchers/rust.json"

      - name: Cache
        uses: Swatinem/rust-cache@v1

      - name: Run clippy
        run: cargo clippy --workspace --tests -- -D warnings

  rustfmt:
    name: Format
    runs-on: ubuntu-latest

    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Install toolchain
        run: |
          rustup install --profile minimal nightly
          rustup override set nightly
          rustup component add rustfmt

      - name: Add problem matchers
        run: echo "::add-matcher::.github/matchers/rust.json"

      - name: Run cargo fmt
        run: cargo fmt --all -- --check
